<% if @journeys.length == 0 %>
  <div class="row display well">
  	<div class="twelve phone-four columns error">
  		<h4>No Direct Routes Found!</h4>
  		<em>Coming soon: multi-bus routes<br/>Get excited dawg!</em>
  	</div>
  </div>
<% else %>
<!-- journey = [start, route, arrival, end] -->
<% @journeys.find_all {|j| j[2].time_to_departure > -600 }.each do |journey| %>
	<div class="row display well">
		<span class="journey route">
			<%= route_button(journey[1]) %>
		</span>
		<span class="journey description">
			<a href="stop/<%= journey[0].id %>">
				<h5><%= truncate(journey[0].name, :length => 35) %></h5>
				<h6>&rArr;<%= truncate(journey[3].name, :length => 35) %></h6>
			</a>
		</span>
		<span class="journey time">
			<%= predicted_time(journey[2]) %>
		</span>
	</div>
<% end end %>
