<div class="row display">
	<div class="six phone-four columns well title">
		<!-- journey information/map -->
		<div id="canvas_map">
		</div>
		<em>From:</em> <%= @from.street_address.nil? ? @from.district : @from.street_address %>, 
			<%= @from.city %><br/>
		<em>To:</em> <%= @to.street_address.nil? ? @to.district : @to.street_address %>, 
			<%= @to.city %><br/>
	</div>
</div>
<% if @journeys.length == 0 %>
<div class="row display well">
	<div class="six phone-four columns error">
		<h4>No Direct Routes Found!</h4>
		<em>Coming soon: multi-bus routes<br/>Get excited dawg!</em>
	</div>
</div>
<% else %>
<% @journeys.each do |journey| %>
<!-- [start, route, arrival, end] -->
<a href="stop/<%= journey[0].id %>">
<div class="row display well">
	<div class="one phone-one columns route_num">
		<span class="journey_span"><%= journey[1].shortName %></span>
	</div>
	<div class="four phone-two columns route_desc">
		<span class="journey_span">
			<%= truncate(journey[0].name, :length => 25) %><br/>&dArr;<br/>
			<%= truncate(journey[3].name, :length => 25) %>
		</span>
	</div>
	<div class="one phone-one columns route_time">
		<span class="journey_span <%= journey[2].css_class_for_arrival_time(@time) %>">
			<%= journey[2].time_to_arrival_short(@time) %>
		</span>
	</div>
</div>
</a>
<% end end %>