<% content_for :mobile do %>
	<%= form_tag "journey", :method => :get do %>     
	<div class="row display" style="margin-bottom:32px;">
          <%= image_tag "header.jpg" , :size => "320x0"%>
      </div>
      <div class="row display">
          <%= image_tag "whichbuslogo.png" , :size => "256x0"%>
      </div>
      <div class="row display" style="margin:4px 0px 0px 0px;">
          <%= text_field_tag "from", nil, :class => "phone-home-input", :placeholder => "Where from, yo?" %>
      </div>
      <div class="row display" style="margin:8px 0px 16px 0px;">
          <%= text_field_tag "to", nil, :class => "phone-home-input", :placeholder => "And where to?" %>
      </div>
      <div class="row display">
          <%= image_submit_tag "mapbutton.png", :class => "phone-home-submit", :size => "200x0" %> 
      </div>
	<% end %>
<% end %>

<% content_for :desktop do %>
	<%= form_tag "journey", :method => :get do %>     
	<div class="row display">
        <div class="phone-three columns" >
          <%= image_tag "whichbuslogo.png" , :size => "320x0"%>
        </div>
	</div>
    <div class="row display">
        <div class="phone-two columns">
			<%= text_field_tag "from", nil, :placeholder => "Where from, yo?" %>
        </div>
    </div>
    <div class="row display">
        <div class="phone-two columns">
			<%= text_field_tag "to", nil, :placeholder => "And where to?" %>
        </div>
    </div>
    <div class="row display">
        <div class="phone-three columns">
			<%= image_submit_tag "mapbutton.png", :width => "320" %> 
        </div>
    </div>
	<% end %>
<% end %>