<div class="row display">
  <div class="twelve columns">
	  <%= form_tag "journey", :method => :get do %>     
      <div class="row display">
        <div class="eight columns centered">
          <%= image_tag "whichbuslogo.png" %>
          <div class="row display" style="margin:4px 0px 0px 0px;">
            <div class="six columns">
                <%= text_field_tag "from", nil, :class => "phone-home-input", :placeholder => "Where from, yo?" %>
            </div>
            <div class="six columns">
                <%= text_field_tag "to", nil, :class => "phone-home-input", :placeholder => "And where to?" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row display">
        <div class="four columns centered">
          <%= submit_tag "Map That Bus!", :class=>"phone-home-submit large round blue button" %>
        </div>
      </div>
	<% end %>
  </div>
</div>
