
<div class="row">
	<div class="twelve columns">
		<div class="row display">
			<div class="eight columns centered">
				<div class="row">
						<%= image_tag "whichbus_bus.png", class: "logo" %>
				</div>
				<form accept-charset="UTF-8" action="journey" method="get" class="directions well">
					<!-- the directions search box -->
					<div class="row">
						<div class="twelve columns">
							<h1 class="pacifico text-center">Lets get you there!</h1>
						</div>
					</div>
					<div class="row">
						<!-- from & to search boxes -->
						<div class="five columns offset-by-one">
							<span class="textbox-container form-field">
								<%= text_field_tag "from", flash[:from], class: "input-text search-box", placeholder: "Where from, yo?" %>
								<span class="clear-input"></span>
								<% if flash[:from_err] %>
									<small class="error"><%= flash[:from_err] %></small>
								<% end %>
							</span>
						</div>
						<div class="five columns">
							<span class="textbox-container">
								<%= text_field_tag "to", flash[:to], class: "input-text search-box", placeholder: "And where to?" %>
								<span class="clear-input"></span>
							</span>
							<% if flash[:to_err] %>
								<small class="error"><%= flash[:to_err] %></small>
							<% end %>
						</div>
					</div>
					<div class="row">
						<!-- Map that bus! button-->
						<div class="five columns centered">
							<%= button_tag type: 'submit', name: nil, class: "radius pacifico whichbus-green search button", style: "text-shadow:0px 0px 1px dimgrey; font-weight:normal;" do %>
								<%= image_tag "mapthatbus.png", size: "200x0", class: "mapthatbus" %>
							<% end %>
						</div>
					</div>
					<br/>
					<% if user_signed_in? %>
					<div class="row">
						<!-- Take me home! button-->
						<div class="eight columns centered">
							<fieldset>
								<h4 class="pacifico">Take me to:</h4>
								<% ["home", "work", "airport", "lunch", "parties"].each do |fav| %>
									<%= link_to fav, "/journey?from=here&to=seatac+airport", name: nil, class: "radius whichbus-green favorites button", style: "text-shadow:0px 0px 1px dimgrey; font-weight:normal;" %>
								<% end %>
							</fieldset>
						</div>
					</div>
					<% end %>
				</form>
				<div class="two columns centered">
					<a href=http://www.madeinseattle.co>
						<img src="https://s3.amazonaws.com/madeinsea/madeinseattlelogo_alpha_s.png" style="margin-top: 20px">
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
