<div class="row display">
  <div class="twelve columns">
    <form accept-charset="UTF-8" action="journey" method="get">
      <div class="row display">
        <div class="eight columns centered">
          <div class="row display">
            <%= image_tag "whichbuslogo.png", :class => "logo" %>
          </div>

          <div class="row display" style="margin:4px 0px 0px 0px;">
            <div class="six columns">
              <span class="textbox-container">
                <%= text_field_tag "from", flash[:from], :class => "giant input-text ", :placeholder => "Where from, yo?" %>
                <span class="clear-input button round whichbus-green">x</span>
              </span>
              <% if flash[:from_err] %>
                <small class="error"><%= flash[:from_err] %></small>
              <% end %>
            </div>

            <div class="six columns">
              <span class="textbox-container">
                <%= text_field_tag "to", flash[:to], :class => "giant input-text", :placeholder => "And where to?" %>
                <span class="clear-input button round whichbus-green">x</span>
              </span>
              <% if flash[:to_err] %>
                <small class="error"><%= flash[:to_err] %></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row display">
        <div class="four columns centered">
          <%= button_tag :type => 'submit', :name => nil, :class => "phone-home-submit giant radius pacifico whichbus-green button", :style=>"text-shadow:0px 0px 1px dimgrey; font-weight:normal;" do %>
            <%= image_tag("mapthatbus.png", :size => "200x0") %>
          <% end %>
        </div>
      </div>
    </form>
  </div>
</div>
