<!-- <h2>From: <%= @from.full_address %> </h2>
<ul>
<% @from_stops.each do |fs| %>
	<li>
		<strong><%= fs.name %></strong>
		<% fs.routes.each do |r| %>
			&nbsp;<%= r.shortName %>
		<% end %>
	</li>
<% end %>
</ul>

<h2>To: <%= @to.full_address %>  </h2>
<ul>
<% @to_stops.each do |ts| %>
	<li>
		<strong><%= ts.name %></strong>
		<% ts.routes.each do |r| %>
			&nbsp;<%= r.shortName %>
		<% end %>
	</li>
<% end %>
</ul>
<br/>

<h2>How to Get There</h2>
<ul>
<% @journeys.each do |journey| %>
	<li>
		Route <%= journey[1].shortName %> (<%= journey[2].time_to_arrival_in_words(@time) %> <%= journey[2].time_to_arrival(@time) %>) from <%= journey[0].name %> to <%= journey[3].name %>!!
	</li>
<% end %>
</ul> -->

<% content_for :head do %>
<style type="text/css">



</style>


<!-- Google Maps JS -->
 <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBjJxK5PWs_HUYDfkLxHPZumnjV6ORDIDs&sensor=true">
    </script>


<script>

function geolocate() {
	navigator.geolocation.getCurrentPosition(initializeMap, noLocation);
}
function noLocation() {
	alert("Geolocation failed!");
}
function initializeMap(position) {

	var latitude = position.coords.latitude;
	var longitude = position.coords.longitude;
	var myLatlng = new google.maps.LatLng(latitude,longitude);
	
  var myOptions = {
    zoom: 12,
    center: new google.maps.LatLng(latitude, longitude),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    minzoom: 10,
    disableDefaultUI: true
  }

  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"Your Location"
  });
}

window.onload = geolocate;

</script>
<!-- Google Maps JS END -->

<% end %>

<% content_for :title do "Your Journey Options" end %>

<% content_for :mobile do %>
<div class="row display">
	<div class="phone-four columns">
		<div style="margin:0px;height:45px;">
			<%= link_to image_tag("header.jpg"), "/" %>
		</div>
	</div>
</div>
<%= render "map" %> 
<%= render "journey_list" %>
<% end %> 

<% content_for :desktop do %>
<%= render "journey_list" %>
<% end %> 