<h2>From: <%= @from.full_address %> </h2>
<ul>
<% @from_stops.each do |fs| %>
	<li>
		<strong><%= fs.name %></strong>
		<% fs.routes.each do |r| %>
			&nbsp;<%= r.shortName %>
		<% end %>
	</li>
<% end %>
</ul>

<h2>To: <%= @to.full_address %>  </h2>
<ul>
<% @to_stops.each do |ts| %>
	<li>
		<strong><%= ts.name %></strong>
		<% ts.routes.each do |r| %>
			&nbsp;<%= r.shortName %>
		<% end %>
	</li>
<% end %>
</ul>
<br/>

<h2>How to Get There</h2>
<ul>
<% @journeys.each do |journey| %>
	<li>
		Route <%= journey[1].shortName %> (<%= journey[2].time_to_arrival_in_words(@time) %> <%= journey[2].time_to_arrival(@time) %>) from <%= journey[0].name %> to <%= journey[3].name %>!!
	</li>
<% end %>
</ul>

<% content_for :head do %>
<style type="text/css">
.route_num {
	font-size: 2rem;
	vertical-align: middle;
}

.route_desc {
	font-size: .75em;
}
.show-on-desktops .route_desc {
	font-size: 1.2em
}

.route_time {
	font-size: 2rem;
	vertical-align: middle;
}

.phones {
	margin: 0px;
}

</style>
<% end %>


<% content_for :mobile do %>
<div class="row display">
	<div class="phone-four columns">
		<div style="margin:0px;">
			<img <%=  image_tag "header.jpg" %>
		</div>
	</div>
</div>
<%= render "journey_list" %>
<!--<div class="row display">
	<div class="phone-three columns">
	</div>
</div>-->
<% end %> 


<% content_for :desktop do %>
<%= render "journey_list" %>
<% end %> 