<h2>From: <%= @from.full_address %> </h2>
<ul>
<% @from_stops.each do |fs| %>
	<li>
		<strong><%= fs.name %></strong>
		<% fs.routes.each do |r| %>
			&nbsp;<%= r.shortName %>
		<% end %>
	</li>
<% end %>
</ul>

<h2>To: <%= @to.full_address %>  </h2>
<ul>
<% @to_stops.each do |ts| %>
	<li>
		<strong><%= ts.name %></strong>
		<% ts.routes.each do |r| %>
			&nbsp;<%= r.shortName %>
		<% end %>
	</li>
<% end %>
</ul>
br/>
<br/>

<h2>How to Get There</h2>
<ul>
<% @routes.each do |route| %>
	<li>
		Route <%= route[1].shortName %> from <%= route[0].name %> to <%= route[2].name %>!!
	</li>
<% end %>
</ul>

<% content_for :head do %>

<style type="text/css">




</style>


<% end %>


<% content_for :mobile do %>
<div class="show-on-phones phones">
	<div class="row display">
		<div class="phone-three columns">
			<div style="margin:0px;">
				<img <%=  image_tag "header.jpg" %>
			</div>
				
			<table style="width:320px;">
			<tbody>
				<tr>
				<td cellspan="3">
				From: <%=@from.full_address %>
				To: <%= @to.full_address %>
				</td>
				
				</tr>


				<tr>
					<td><!-- INPUT Route #--><span id="route">511</span> <span id="direction">to Redmond</span></td>

					<td><!-- Departs "5th and Pine" --> <p>Departs: 5th & Pine</p> <p>Arrives: Redmond Town Center</p></td>
					
					<td><!-- Time left till departure -->3m</td>

				</tr>

			</tbody>

			</table>

		</div>
	</div>
</div>


<% end %> 


<% content_for :desktop do %>


<% end %> 