<!-- Journey show -->

<% content_for :onload do %>
	showJourney('<%= params[:from] %>','<%= params[:to] %>','<%= params[:currentPosition] %>');
<% end %>
<% content_for :title do
	"Directions"
end %>

<% content_for :model_list do %>
	<ul id="model-list" class="list block-grid" style="opacity:0.0">
	
	</ul>
<% end %>

<% content_for :footer_thing do %>
	<span class="toolbar right">
				Display:
				<a href="#" onclick="setLayout('grid', 'two')" class="button small radius whichbus-green" title="View as two-up grid">::</a>
				<a href="#" onclick="setLayout('grid', 'three')" class="button small radius whichbus-green" title="View as three-up grid">:::</a>
				<a href="#" onclick="setLayout('list')" class="button small radius whichbus-green" title="View as list">=</a>
			</span>
<% end %>

<% content_for :page_title do %>
	<form accept-charset="UTF-8" action="journey" method="get" class="row display">
		<div class="eight phone-three columns">
			<span class="textbox-container">
				<%= text_field_tag "from", params[:from], class: "input-text directions", placeholder: "Where from, yo?", id: "fromAddress" %>
				<span class="clear-input"></span>
			</span>
			<span class="textbox-container">
				<%= text_field_tag "to", params[:to], class: "input-text directions", placeholder: "And where to?", id: "toAddress" %>
				<span class="clear-input"></span>
			</span>
		</div>
		<div class="four phone-one columns">
			<%= button_tag type: 'submit', name: nil, class: "radius go route button", style: "text-shadow:0px 0px 1px dimgrey; font-weight:normal;" do %>
				GO
			<% end %>
			<%= button_tag image_tag('refreshicon.png'), name: nil, class: "button refresh radius", onclick: "refreshData()", title:"Refresh" %>
		</div>
	</form>
<% end %>

