<% content_for :head do %>
<style type="text/css">
.hidden {
  display: none;
}
</style>
<% end %>

<% @arrivals.each do |arr| %>
<div class="row display journey <%= "hidden" if arr.nil? %>">
	<span class="journey route">
		<%= link_to arr.routeShortName, route_path(arr.routeId), :class=>"button radius whichbus-green" %>
	</span>
    
	<span class="journey description">
    <% unless arr.nil? %>
    <small class="headsign border round"><%= arr.tripHeadsign %></small><br/>
    <% end %>
		<%= arr.description %>
  </span>
  
	<% unless arr.nil? %>
	<span class="journey time">
		<%= predicted_time(arr) %>
  </span>
	<% end %>
</div>
<% end %>
<div class="row display well">
  <span id="toggleButton" class="button gray radius full-width">Show Hidden Stops</a>
</div>