
<% content_for :head do %>
<script type="text/javacsript">
$(document).ready(function() {
  alert("ready");
  $("#toggleButton").click(function() {
    alert("hello!");
    $(".row.journey.hidden").toggle();
  });
});
</script>
<style type="text/css">
.hidden {
  display: none;
}
</style>
<% end %>

<!-- arr = [route, arrival] -->
<% @arrivals.each do |arr| %>
<div class="row display well journey <%= "hidden" if arr[1].nil? %>">
	<span class="journey route">
    <%= route_button(arr[0]) %>
  </span>
    
	<span class="journey description">
    <% unless arr[1].nil? %>
    <small class="headsign radius"><%= arr[1].tripHeadsign %></small><br/>
    <% end %>
		<%= arr[0].description %>
  </span>
  
	<% unless arr[1].nil? %>
	<span class="journey time">
		<%= predicted_time(arr[1]) %>
	</span>
	<% end %>
</div>
<% end %>
<div class="row display journey">
  <button id="toggleButton" onclick="toggleHidden()" class="button radius full-width">Show Boring Routes</button>
</div>