<!-- Stop show -->
<% content_for :title do "WhichBus :: #{@stop.name}" end %>

<% content_for :desktop do %>
	<%= render "arrival_list" %>
<% end %>

<% content_for :mobile do %>
<div class="row display">
	<div class="phone-four columns">
		<div style="margin:0px;">
			<%= link_to image_tag("header.jpg"), "/" %>
		</div>
	</div>
</div>

<%= render "arrival_list" %>
<% end %>

<h2><%= @stop.name %> (<%= @stop.direction %>)</h2> <br/>
ID: <%= @stop.id %> <br/>
(<%= @stop.lat %>, <%= @stop.lon %>)

<hr/>

<ul>
<% @stop.routes.each do |r| %>
	<li>
		<%= link_to "#{r.shortName} #{r.direction}", route_path(r.id) %>&nbsp;
		<% r.arrivals.each do |arr| %>
			<%= arr.time_to_arrival_in_words(@time) %>
			<!--|<%= arr.time_to_departure_in_words(@time) %>-->
			&nbsp;
		<% end %>
	</li>
<% end %>
</ul>