<!-- Stop show -->
<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function() {
  $("#toggleButton").click(function() {
    $(".row.journey.hidden").slideToggle();
  });
});
</script>
<% end %>
<% content_for :onload do "initializeMap(showStopMarker,false);" end %>
<% content_for :onload do "centerMap(latlng(#{@stop.lat},#{@stop.lon}));" end %>

<% content_for :title do @stop.name end %>
<% content_for :page_title do @stop.name.capitalize end %>

<% content_for :model_list do %>
<%= render "arrival_list" %>
<% end %>

<!-- stop debug display
<h2><%= @stop.name %> (<%= @stop.direction %>)</h2> <br/>
ID: <%= @stop.id %> <br/>
(<%= @stop.lat %>, <%= @stop.lon %>)

<hr/>

<ul>
<% @stop.routes.each do |r| %>
	<li>
		<%= link_to "#{r.shortName} #{r.direction}", route_path(r.id) %>&nbsp;
		<% r.arrivals.each do |arr| %>
			<%= arr.time_to_arrival_in_words(@time) %>
			&nbsp;
		<% end %>
	</li>
<% end %>
</ul> -->