<div class="row display topbarimage shadow-bottom">
    <!-- the WhichBus header appears on all pages, in the upper left on desktop and at the top on phone -->
    <div class="left">
        <!-- WhichBus logo is a link to the homepage -->
        <div class="">
            <%= link_to "/", class: "brand" do %>
                <%= image_tag("icons/smallbusicon.png", class: "bus show-on-phones") %>&nbsp;
                <%= image_tag("whichbustext.png", class: "logotext hide-on-phones") %>
            <% end %>
            <%= content_tag(:h2, yield(:title), class: "title", id: "page-title") if content_for?(:title) %>
        </div>
    </div>
    <!-- the desktop/tablet header with buttons and searching -->
    <div class="right">
        <ul class="nav-bar full-size right">
            <!--<li>
                <%=  text_field_tag "query", nil, class: "search-input", placeholder: "search for stuff" %>
            </li>-->

            <li class="hide-on-phones social_buttons">
                <g:plusone size="standard" data-annotation="inline" data-href="http://whichb.us"></g:plusone>
            </li>

            <li class="hide-on-phones">
                <%= link_to "", "#", :id=> "hereButton", :title=> "Find the nearest stop", class: "location" %>
            </li>
            <li class="hide-on-phones"><%= link_to "Feedback", "https://docs.google.com/spreadsheet/viewform?formkey=dEZZNWJraEFhNEhRUkhINGNMekVzVXc6MQ#gid=0", target: "_blank", title: "Give us a piece of your mind...route!" %></li>
            <li class="hide-on-phones"><%= link_to "Launchrock", "http://signup.whichb.us", target: "_blank", title: "Stay in touch!" %></li>
            <li class="hide-on-phones"><%= render 'devise/menu/registration_items' %></li>
            <li class="hide-on-phones"><%= render 'devise/menu/login_items' %></li>

            <li class="has-flyout show-on-phones">
                <%= image_tag("icons/settingsgear.png", :size => "30x0", :style => "float: right; padding: 4px 12px") %>
                <div class="flyout small right">
                    <ul>
						<li><%= link_to "Here", "#", :title=> "Find the nearest stop" %></li>
						<li><%= link_to "Sign up", "http://signup.whichb.us", :target=> "_blank" %></li>
                        <li><%= link_to "#" do %>
                                <%= image_tag "icons/aboutwhichbus.png" %> About WhichBus
                            <% end %>
                        </li>
                        <li><%= link_to "#" do %><%= image_tag "icons/knownissues.png" %> Known Issues
                            <% end %></li>
                        <li><%= link_to "#" do %><%= image_tag "icons/reportabug.png" %> Report a Bug
                            <% end %></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>
