
<div class="container">
	<div class="nav-bar shadow-bottom">
		<%= render "layouts/header" %>
	</div>

	<div class="map-container">
		<div id="map_canvas">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, id: "flash_#{name}", :class => "alert-box" %>
			<% end %>
		</div>
	</div>
	<div class="left-sidebar shadow-sides" id="search_result">
		<div class="header shadow-bottom">
			<div id="page-header" class="subtitle"><%= yield(:page_title) %></div>
		</div>
			<%= yield(:model_list) %>
		
			<%= yield(:disqus) %>
		
		<div class="footer hide-on-phones">
			<%= yield(:footer_thing) %> 
		</div>
	</div>
</div>