<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
 

    <title><%= content_for?(:title) ? yield(:title) : "WhichBus" %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %><!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBjJxK5PWs_HUYDfkLxHPZumnjV6ORDIDs&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
      }
    </script>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=320, initial-scale=1, user-scalable=no">

<style type="text/css">

.container {margin:25px;}

#title {font-size:6rem} 

body {
background:#e7e6e6;
background-repeat:repeat-xy; 
}

.phone input {margin:10px 0px; }

.phone {max-width:320px;} 

h1,h2,h3,h4,h5 {color: #7D8073;}


</style>

</head>

 <body <%= content_for?(:onload) ? "onload=#{yield(:onload)}" : "" %> >
  <div class="container show-on-phones phone">
	<%= yield(:mobile) %>
  </div>

  <!-- container -->
  <div class="show-on-desktops container">
    
    <div class="row">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
    </div>

    <div class="row">
      <div class="twelve columns">
      <%= image_tag "whichbus_text.png", :size => "220x0"%>
      </div>
    </div>
	
	<%= yield(:desktop) %>
	<%= yield %>
  </body>
</html>
