<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="<%= image_path('icons/favicon.png') %>" />
    <link rel="apple-touch-icon" href="<%= image_path('icons/mobileicon-iphone.jpg') %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('icons/mobileicon-ipad.jpg') %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('icons/mobileicon-iphone.jpg') %>" />

    <title>WhichBus<%= content_for?(:title) ? " | " + yield(:title) : "" %></title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBjJxK5PWs_HUYDfkLxHPZumnjV6ORDIDs&libraries=geometry&sensor=true"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.12/src/markerclusterer_packed.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %><!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	<%= yield(:head) if content_for?(:onload) %>
</head>

<body onload="<%=yield(:onload) if content_for?(:onload)%>">

  <%= render("layouts/universal_layout") %>

	<div class="show-on-desktops show-on-tablets container" style="padding:0; width=100%; margin:auto; text-align:center;">
		<div class="row" style="text-align:center;">
			<%= content_tag :h1, yield(:title) if show_title? %>
		</div>
		<%= yield(:desktop) %>
    <%= yield %>
	</div>


<!-- G+ Button Script -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
  </body>
</html>
