<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>WhichBus<%= content_for?(:title) ? " | " + yield(:title) : "" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %><!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

  <body<%= content_for?(:onload) ? " onload=#{yield(:onload)}" : "" %>>
    <%= render "layouts/header"%>
	 	<div class="row" style="text-align:center;">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, :id => "flash_#{name}", :class => "alert-box #{name}" do %>
          <%= msg %>
          <a href="" class="close">&times;</a>
        <% end %>
			<% end %>
			<%= content_tag :h1, yield(:title) if show_title? %>
		</div>
    <%= yield %>  
  </body>
</html>
